---
import { Image } from 'astro:assets'
import MainLayout from '../layouts/MainLayout.astro'

const allImage = import.meta.glob('../assets/*.{jpg,png}', {
  eager: true,
  as: 'url',
})

const allImageArray = Object.values(allImage)
const sortedImageArray = allImageArray.sort((a, b) => {
  const aMatch = a.match(/(\d+)/)
  const bMatch = b.match(/(\d+)/)

  if (aMatch && bMatch) {
    return parseInt(aMatch[0]) - parseInt(bMatch[0])
  }
  return 0
})
---

<MainLayout>
  <div
    class="grid grid-cols-1 py-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    {
      Array.from({ length: 21 }).map((_, i) => {
        const isPriority = i < 6;
        return (
          <div id={`zoominImage-${i}`} class="zoominImage overflow-hidden cursor-pointer bg-gray-100">
            <Image 
              src={sortedImageArray[i]} 
              width={800} 
              height={800} 
              alt={`Gallery Image ${i}`} 
              class="h-auto w-full object-cover" 
              quality={80} 
              format={'avif'} 
              loading={isPriority ? "eager" : "lazy"}
              decoding={isPriority ? "sync" : "async"}
            />
          </div>
        )
      })
    }
  </div>
</MainLayout>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const zoominImage = document.querySelectorAll('.zoominImage')
    const windowImage = document.getElementById('windowImage')

    zoominImage.forEach((image) => {
      image.addEventListener('click', () => {
        windowImage?.classList.remove('hidden')
        windowImage?.classList.add('fixed')
        const img = windowImage?.querySelector('img')
        const link = windowImage?.querySelector('a')
        if (img) {
          img.src = image.querySelector('img')?.src || ''
        }
        if (link) {
          link.href = image.querySelector('img')?.src || ''
        }
        document.documentElement.style.overflow = 'hidden'
      })
    })
  })
</script>


<style>
  img {
  background-color: #f0f0f0;
  }
</style>