---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <div class="prose mb-15">
    <h1>Kebijakan Privasi</h1>

    <p>
      Selamat datang di galeri foto saya. Saya sangat menghargai kehadiran Anda
      dan berkomitmen untuk menjaga privasi Anda selama berkunjung di sini.
    </p>

    <h3>Data yang Saya Terima</h3>
    <p>
      Saya tidak mengumpulkan informasi pribadi Anda secara otomatis. Jika Anda
      menghubungi saya melalui email atau formulir kontak, saya hanya akan
      menyimpan nama dan alamat email Anda untuk keperluan komunikasi pribadi
      terkait karya atau layanan saya.
    </p>

    <h3>Penggunaan Karya (Hak Cipta)</h3>
    <p>
      Semua foto yang ada di dalam website ini adalah karya asli saya. Anda
      diperbolehkan melihat dan menikmati foto-foto ini, namun saya mohon agar
      tidak mengunduh atau menggunakan foto tersebut untuk keperluan komersial
      tanpa izin tertulis dari saya.
    </p>

    <h3>Keamanan</h3>
    <p>
      Saya berkomitmen untuk menjaga keamanan informasi sederhana yang Anda
      berikan dan tidak akan membagikannya kepada pihak mana pun.
    </p>

    <h3>Kontak</h3>
    <p>
      Jika ada yang ingin ditanyakan mengenai kebijakan ini atau mengenai karya
      saya, silakan hubungi saya melalui halaman kontak yang tersedia.
    </p>
  </div>
</MainLayout>
