---
import { Icon } from 'astro-icon/components'
---

<header class="flex h-20 w-full items-center justify-center">
  <nav class="flex w-[90%] items-center justify-between text-gray-500">
    <a
      href="https://instagram.com/dai.rewahandi"
      class="rounded-2xl p-2 hover:bg-gray-200 active:bg-gray-200"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="proicons:instagram" size={25} />
    </a>
    <a
      href="https://github.com/dai-rewahandi/gallery"
      class="rounded-2xl p-2 hover:bg-gray-200 active:bg-gray-200"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="proicons:code-square" size={25} />
    </a>
  </nav>
</header>
