---
import { Icon } from 'astro-icon/components'
---

<div
  class="mt-20 mb-15 flex flex-col items-center justify-center text-gray-600"
>
  <div class="flex max-w-75 flex-col gap-6 text-center">
    <h1 class="text-3xl font-semibold text-gray-800 uppercase">
      <a href="/">de_fotograp</a>
    </h1>
    <p class="text-sm">
      Programmer ( Full-stack developer ) web app & Photographer. 
    </p>
  </div>
  <div class="mx-auto text-center text-sm">
    <div class="mt-20 flex flex-col gap-2">
      <!-- <span class="flex items-center gap-2">
        <Icon name="proicons:phone" size={20} />
        <a href="tel:+628998000053">08998000053</a>
      </span> -->

      <span class="flex items-center gap-2">
        <Icon name="proicons:mail" size={20} />
        <a href="mailto:niktodaire@gmail.com">niktodaire@gmail.com</a>
      </span>

      <span class="flex items-center gap-2">
        <Icon name="proicons:globe" size={20} />
        <a href="https://me.dairewahandi.or.id">me.dairewahandi.or.id</a>
      </span>
    </div>
  </div>
</div>
