---
import { Icon } from 'astro-icon/components'
---

<div
  id="windowImage"
  class="absolute top-0 left-0 z-50 hidden h-dvh w-dvw flex-col items-center justify-center bg-black/50 text-2xl font-bold text-white backdrop-blur-md transition-opacity duration-300 backdrop:blur-md"
>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <img
      src="https://thelawgivers.com/wp-content/uploads/2016/04/dummy-post-square-1.jpg"
      alt="Image"
      class="h-auto w-[50%] max-w-125 object-cover"
    />
    <div class="mt-4 flex items-center gap-4">
      <div class="cursor-pointer" id="closeWindow">
        <Icon name="proicons:cancel-square" size={30} />
      </div>
      <div
        class="flex cursor-pointer items-center gap-2 rounded-lg bg-white/20 px-4 py-2 hover:bg-white/40 active:bg-white/40"
      >
        <Icon name="proicons:arrow-download" scale={30} />
        <a
          href="/"
          class="text-sm font-normal text-white"
          target="_blank"
          rel="noopener noreferrer"
          download>Download</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const closeWindow = document.getElementById('closeWindow')
    const windowImage = document.getElementById('windowImage')
    closeWindow?.addEventListener('click', () => {
      windowImage?.classList.remove('fixed')
      windowImage?.classList.add('hidden')
      document.documentElement.style.overflow = 'auto'
    })
  })
</script>
